{% extends 'base_site/index.html' %}

{% block content %}
    {% for character in characters %}
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href={{ character.id }}><h3>{{ character }}</h3></a>
                </div>
                <div class="col-sm-1">
                    <a href="/sheets/characters/{{ character.id }}/edit/"><h3>Edit</h3></a>
                </div>
                <div class="col-sm-1">
                    <a href="/sheets/characters/{{ character.id }}/"><h3>View</h3></a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}