{% extends 'base_site/index.html' %}

{% block content %}
    {% for character in characters %}
        <div class="container">
            <div class="row">
                <table>
                    <tr>
                        <td>
                            <div class="col-sm-3">
                                <a href={{ character.id }}><h3>{{ character }}</h3></a>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-1">
                                <a href="/sheets/characters/{{ character.id }}/edit/"><h3>Edit</h3></a>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-1">
                                <a href="/sheets/characters/{{ character.id }}/"><h3>View</h3></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}

    {% if characters.has_other_pages %}
        <div id="wrapper" style="text-align: center;">
          <ul class="pagination" style="display: inline-block;">
            {% if characters.has_previous %}
              <li><a href="?page={{ characters.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in characters.paginator.page_range %}
              {% if characters.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if characters.has_next %}
              <li><a href="?page={{ characters.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        </div>
    {% endif %}
{% endblock %}