{% extends 'character_sheets/sheets_base.html' %}

{% block content %}
    <h1>{{ character.name }}</h1>
    <ul>
        <li>Class: {{ character.character_class }}</li>
        <li>Description: {{ character.description }}</li>
        <li>Created: {{ character.created_date }}</li>
        <li>Creator: {{ character.creator }}</li>
    </ul>

    <p>&nbsp;</p>
    <a class="btn btn-default" href="{% url 'character_edit' pk=character.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <p>&nbsp;</p>

    <a href="{% url 'character_list' %}"> Back to Character List </a>
{% endblock %}